<div class="panel panel-default chat-panel" *ngIf="room">
  <div class="panel-heading">{{room.name}} Chat
  </div>
  <div class="panel-body">
    <div class="message-section">
      <div #scrollMe id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble" [class.you]="isYou(message.name)" [class.me]="isMe(message.name)">
            <div class="author">
              <img src="{{message.photo}}" />
              {{message.name}}
            </div>
            <p class="desc">
              {{message.text}}
              <!--<div class="date">
                {{ message.time | date: "MM/dd/yy hh:mm a" }}
              </div>-->
            </p>
          </div>
        </div>
      </div>
      <figure class="highlight">
        <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a (click)="sendMessage()" class="send-message">SEND</a>
      </figure>
    </div>
    <div class="member-section">
      <h6>Members Area
        <span *ngIf="room.leader === userService.userName" data-toggle="modal" data-target="#inviteUserModal" aria-hidden="true" class="glyphicon glyphicon-plus"></span>
      </h6>
      <ul>
        <li *ngFor="let member of room.members">
          <span *ngIf="room.leader === member" class="glyphicon glyphicon-tower" aria-hidden="true"></span>
          {{member}}
          <a *ngIf="room.leader === userService.userName && member !== room.leader" (click)="removeUser(member)">
            <span aria-hidden="true" class="glyphicon glyphicon-minus"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="inviteUserModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <input auto-complete type="text" placeholder="enter user name here"  [(ngModel)]="userToInvite" [source]="userLeft"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="inviteUser()">Add</button>
      </div>
    </div>
  </div>
</div>