:host {
  flex: 0 0 80%;
  height: 70%;
}

.chat-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-panel .panel-body {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.message-section {
    flex: 1;
        display: flex;
    flex-direction: column;
}

.member-section {
    border: 1px solid #f5f5f5;
    flex: 0 0 270px;
}

.chat-panel #messages {
        flex: 1;
    overflow-y: auto;
    padding: 6px 15px;
}

.chat-panel #messages .bubble {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10.66667px 0;
    padding: 10.66667px 0;
}

.chat-panel #messages .bubble .author {
    float: left;
    width: 40px;
}
.chat-panel #messages .bubble .desc {
    float: left;
     padding: 10.66667px;
  min-height: 42.66667px;
  /*width: 60%;*/
  margin: 0 10.66667px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  background: #F44336;
  color: #fff;
  /* word-break: break-all; */
}

.chat-panel #messages .bubble.me .desc {
    background: rebeccapurple;
}

.chat-panel #messages .bubble .desc:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.chat-panel #messages .bubble.you .desc:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #F44336 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}

.chat-panel #messages .bubble.me .desc:before {
  border-width: 10px 10px 0 0;
  border-color: rebeccapurple transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.chat-panel #messages .bubble.me .author {
    float: right;
}
.chat-panel #messages .bubble.me .desc {
    float: right;
}

.chat-panel #messages .bubble .author img {
    width: 40px;
    border-radius: 50%;
}

.chat-panel figure {
    flex: 0 0 50px;
    background: #f5f5f5;
    padding: 6px;
    position: relative;
}

.chat-panel figure input {
    height: 100%;
    width: 100%;
    padding-right: 60px;
}

.chat-panel figure a.send-message {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 6px;
    background: rebeccapurple;
    padding: 9px;
    color: #fff;
}

.member-section {
    padding: 10px;
}

.member-section h6 {
    color: rebeccapurple;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.member-section h6 span {
        position: absolute;
    right: 0;
}

.member-section ul {
        list-style: none;
    padding: 0;
    font-size: 13px;
}
