<div class="members-page">

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
  </div>

  <div class="panel panel-default animated login-modal" [class.hide]="modal !== 'login'">
    <div class="panel-heading head">
      <h4>Members AREA</h4>
      <p>Login to your account</p>
    </div>
    <div class="panel-body body">
      <form (submit)="loginUser($event, lusername.value, lpassword.value)">
        <div class="form-group">
          <div class="input-group">
            <input #lusername type="text" class="form-control" id="lusername" placeholder="Enter user name" required>
            <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input #lpassword type="password" class="form-control" id="lpassword" placeholder="Enter password" required>
            <div class="input-group-addon"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group no-m-bottom">
          <button type="submit" class="btn btn-primary sign-in-btn">Sign in</button>
        </div>
      </form>
    </div>
    <button class="btn btn-success sign-up-btn" (click)="showModal('register')">Sign Up</button>
  </div>

  <div class="panel panel-default animated register-modal" [class.hide]="modal !== 'register'">
    <div class="panel-heading head">
      <h4>Members AREA</h4>
      <p>Register your account</p>
    </div>
    <div class="panel-body body">
      <form (submit)="registerUser($event, name.value, password.value, photo.value)">
        <div class="form-group">
          <div class="input-group">
            <input #name type="text" class="form-control" id="name" placeholder="Enter user name" required>
            <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input #photo type="text" class="form-control" id="photo" placeholder="Enter photo url" required>
            <div class="input-group-addon"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input #password type="password" class="form-control" id="password" placeholder="Password" required>
            <div class="input-group-addon"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group no-m-bottom">
          <button type="submit" class="btn btn-primary signUpBtn">Sign up</button>
        </div>
      </form>
    </div>
    <button class="btn btn-success sign-up-btn" (click)="showModal('login')">Log In</button>
  </div>

</div>