.members-page {
    height: 100%;
    width: 100%;
    background: url('../../assets/members-bg.jpg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.members-page .panel {
    width: 360px;
    position: relative;
}

.members-page .panel .head {
    color: #555a60;
    background-color: #FEFEFF;
    border-color: #dfe8f1;
}

.members-page .panel .head h4 {
    margin-top: 6px;
    margin-bottom: 3px;
    font-weight: 700;
    text-transform: uppercase;
}

.members-page .panel .head p {
    margin-bottom: 0;
    color: #666;
    font-size: 12px;
}

.no-m-bottom {
    margin-bottom: 0;
}

.forgot-password-btn {
    color: #8da0aa;
    font-size: 12px;
}

.forgot-password-btn:hover, .forgot-password-btn:focus {
    color: #23527c;
}

.sign-in-btn {
    display: block;
    margin-top: 12px;
    width: 100%;
}

.sign-up-btn {
    position: absolute;
    top: 17px;
    right: 17px;
}

.alert {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 270px;
}