.logout-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 30;
    
}

.logout-btn a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.page-wrapper {
    height: 100%;
width: 100%;
display: flex;
flex-direction: column;
}

.navbar {
    border-radius: 0;
    border: 0;
    color: #fff;
    background: #ff5722;
    border-bottom: 1px solid #ff3d00;
    margin-bottom: 0;
    flex: 0 0 50px;
    padding-right: 90px;
}

.navbar-brand {
    background-color: rgba(255,255,255,.1);
    color: #fff;
    width: 240px;
}

.nav a {
    color: #fff;
}
.navbar a:hover {
    color: #fff;
}

.user_img {
    height: 20px;
    margin-right: 6px;
}

.content-wrapper {
    flex: 1;
display: flex;
background: #f3f4f6;
}

.side-bar {
    flex: 0 0 240px;
    background: #fff;
}

.main-content {
    flex: 1;
}

.menu {
    margin: 0;
padding: 5px 20px;
list-style: none;
}

.menu li {
    position: relative;
margin: 2px 0;
}


.menu li a {
    padding: 0 10px 0 0;
border-radius: 3px;
font-size: 13px;
border: 1px solid transparent;
line-height: 35px;
height: 36px;
}

.menu li a.add-room-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    /*font-size: 16px;*/
}
.menu li.menu-header {
    color: #000;
    text-transform: uppercase;
font-size: 12px;
padding: 5px 0;
font-weight: 700;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

