<div class="logout-btn">
    <a (click)="logout()">Logout</a>
</div>
<div *ngIf="initialized" class="page-wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Real Time Chat-App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><img class="user_img" src="{{userService.photo}}" />Hello {{userService.userName}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="side-bar">
      <ul class="menu">
        <li class="menu-header my-room-header">
          <h6>My Rooms</h6>
          <a class="add-room-btn" data-toggle="modal" data-target="#addRoomModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </li>
        <li *ngFor="let room of roomList.owned" class="menu-item">
          <a (click)="changeRoom(room)">{{room.name}}</a>
          <a class="remove-room-btn" data-toggle="modal" data-target="#removeRoomModal">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </a>
        </li>
        <li class="menu-header invited-room-header">
          <h6>Invited Rooms</h6>
        </li>
        <li *ngFor="let room of roomList.invited" class="menu-item">
          <a (click)="changeRoom(room)">{{room.name}}</a>
        </li>
      </ul>
    </div>
    <div class="main-content">
      <app-room *ngIf="activeRoom" [room]="activeRoom"></app-room>
    </div>
  </div>
</div>

<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Room</h4>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="enter room name here" [(ngModel)]="newRoomName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addRoom()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="removeRoomModal" tabindex="-1" role="dialog" aria-labelledby="removeRoomModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="activeRoom">
          Are you sure you want to remove {{activeRoom.name}}.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="activeRoom" (click)="removeRoom(activeRoom.$key)">Remove</button>
      </div>
    </div>
  </div>
</div>